.DS_Store
target
.classpath
.project
.settings
.idea
.flattened-pom.xml
spring-javaformat-eclipse/io.spring.javaformat.eclipse/lib
spring-javaformat-eclipse/io.spring.javaformat.eclipse.tests/lib
.gradle
spring-javaformat-gradle/spring-javaformat-gradle-plugin/bin
spring-javaformat-gradle/spring-javaformat-gradle-plugin/build
.gradletasknamecache
samples/spring-javaformat-gradle-sample/bin
samples/spring-javaformat-gradle-sample/build
