.DS_Store
target
.classpath
.project
.settings
.idea
.flattened-pom.xml
spring-javaformat-eclipse/io.spring.javaformat.eclipse.plugin/libs/
spring-javaformat-eclipse/io.spring.javaformat.eclipse.tests/lib
