---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: springio/github-changelog-generator
    tag: '0.0.6'
inputs:
- name: git-repo
- name: version
outputs:
- name: generated-changelog
params:
  GITHUB_USERNAME: ((github-username))
  GITHUB_TOKEN: ((github-ci-release-token))
run:
  path: git-repo/ci/scripts/generate-changelog.sh
