<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.jdt.core.javaFormatter">
		<javaFormatter
			class="io.spring.javaformat.eclipse.formatter.SpringCodeFormatterJdk11Tabs"
			id="io.spring.javaformat.eclipse.formatter.jdk11.tabs"
			name="Spring (tabs)">
		</javaFormatter>
		<javaFormatter
			class="io.spring.javaformat.eclipse.formatter.SpringCodeFormatterJdk11Spaces"
			id="io.spring.javaformat.eclipse.formatter.jdk11.spaces"
			name="Spring (spaces)">
		</javaFormatter>
		<javaFormatter
			class="io.spring.javaformat.eclipse.formatter.SpringCodeFormatterJdk8Tabs"
			id="io.spring.javaformat.eclipse.formatter.jdk8.tabs"
			name="Spring (tabs) [Java 8 baseline]">
		</javaFormatter>
		<javaFormatter
			class="io.spring.javaformat.eclipse.formatter.SpringCodeFormatterJdk8Spaces"
			id="io.spring.javaformat.eclipse.formatter.jdk8.spaces"
			name="Spring (spaces) [Java 8 baseline]">
		</javaFormatter>
	</extension>
	 <extension point="org.eclipse.m2e.core.projectConfigurators">
		<configurator
			class="io.spring.javaformat.eclipse.m2e.MavenProjectSettingsConfigurator"
			id="io.spring.javaformat.eclipse.m2e.configurator"
			runsAfter="org.eclipse.m2e.jdt.javaConfigurator">
		</configurator>
	</extension>
	<extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
	</extension>
	<extension point="net.sf.eclipsecs.core.checkstyleAddonProvider">
	</extension>
	<extension id="spring-javaformat-eclipsecs" point="net.sf.eclipsecs.core.configurations">
		<check-configuration
			description="Spring Built-in configuration"
			location="io/spring/javaformat/checkstyle/checkstyle.xml"
			name="Spring Built-in Checks">
		</check-configuration>
	</extension>
	<extension point="org.eclipse.buildship.core.projectconfigurators">
		<configurator
			id="io.spring.javaformat.eclipse.gradle.ProjectSettingsConfigurator"
			class="io.spring.javaformat.eclipse.gradle.GradleProjectSettingsConfigurator">
		</configurator>
 </extension>
</plugin>
